################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitecture/CleanArchitecture/obj
/CleanArchitecture/.vs/CleanArchitecture/v17
/CleanArchitecture/CleanArchitecture.Application/obj
/CleanArchitecture/CleanArchitecture.Core/obj
/CleanArchitecture/CleanArchitecture.Infraestructure/obj
/CleanArchitecture/CleanArchitecture/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.Application/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.Core/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.Infraestructure/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.API/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.API/obj
/CleanArchitecture/.vs/CleanArchitecture
/CleanArchitecture/CleanArchitecture.Testes/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.Testes/obj
/CleanArchitecture/CleanArchitecture.Tests/bin/Debug/net6.0
/CleanArchitecture/CleanArchitecture.Tests/obj
